* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
    color: rgb(44, 44, 44);

}
body{
    font-family: 'Fira Sans', sans-serif;
}
html {
    scroll-behavior: smooth;
  }


/* All page title style start */
h1 {
    overflow: hidden;
    text-align: center;
}

h1:before,
h1:after {
    background-color: #333;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

h1:before {
    right: 0.5em;
    margin-left: -50%;
}

h1:after {
    left: 0.5em;
    margin-right: -50%;
}

/* All page title style start */

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

/* Navbar style start */
.hidden {
    display: none;
}

#flex-container-head-large {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.navbar-style {
    height: 55px;
    background: rgb(255, 255, 255);
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    
    z-index: 10;
    opacity: 96%;
    padding-left: 10%;
    padding-right: 10%;
}

.nav-item {
    margin-right: 10px;
    margin-left: 10px;
    list-style-type: none;
    height: 25px;
    text-align: center;
    padding: 3px 5px;
    margin: 5px;
}

.nav-item:hover {
    background: #cccccc;
    border-radius: 5px;
}
.navbar-2nd-div {
    display: flex;
}

.navbar-2nd-div-2nd-div {
    margin: 4px;
    cursor: pointer;
    opacity: 80%;
}


#flex-container-head-small{
    background-color: rgb(241, 240, 240);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.unorder-list-small-navbar > div,
.unorder-list-small-navbar > li {
    margin-bottom: 15px;
    font-weight:500;
}


/* Navbar style end */
a {
    text-decoration: none
}

/* all button style start */
.button-style {

    border: 1.5px solid rgb(193, 186, 186);
    border-radius: 5px;
    height: 28px;
    text-align: center;
    padding: 3px 5px;
    margin: 5px;

}

.button-style:hover {
    border: 1.5px solid rgb(93, 91, 91);
}

/* all button style end */

/* Introduction page style */
.introduction-style {
    margin-top: 300px;
    text-align: center;
    height: 600px;
    padding-left: 15%;
    padding-right: 15%;
    
}

#introduction-name-style {
    font-size: xx-large;
    text-align: center;
    margin-bottom: 10px;
}

#introduction-logo-style {
    margin-top: 80px;
}

#introduction-logo-style img {
    height: 20px;
    width: 20px;
}

/* end home design */

/* Start about page design */
.about-main-div {
    background-color: #e6e6e6;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 15%;
    padding-right: 15%;

}

.flex-container-about {
    display: flex;
    margin-top: 30px;
    position: relative;
    height: auto;
    width: auto;
}

.flex-container-about article {
    margin: 5px;
    flex: 70%;
    justify-content: center;
}

.flex-container-about figure {
    margin: 5px;
    border-radius: 5px;
    flex: 30%;
    overflow: hidden;
}

.flex-container-about figure img {
    width: 100%;
}

/* end about page design */



/* Start experience page design */
.experience-main-div {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 15%;
    padding-right: 15%;

}

.flex-container-experience {
    display: flex;
    margin-top: 30px;
    position: relative;
   
    height: auto;
 
}

.flex-container-experience article {
    margin: 5px;
    justify-content: center;
}

.flex-container-experience figure {
    margin: 5px;
    border-radius: 10px;
    width: 500px;
    overflow: hidden;
}

.flex-container-experience figure img {
    width: 100%;
}



.vertical1 {
    border-left: 2px solid rgba(0, 0, 0, 0.74);
    height: 100%;
    position: absolute;
    left: 30%;
}

.flex-container-experience-div-1 {
    flex: 30%;
    padding: 10px;
    text-align: right;
}

.flex-container-experience-ul-1 {
    flex: 70%;
    padding: 10px;

}

.flex-container-experience-ul-1 li {

    margin-left: 20px;
}

.vertical2 {
    border-left: 2px solid rgba(0, 0, 0, 0.74);
    height: 100%;
    position: absolute;
    left: 70%;
}

.flex-container-experience-div-2 {
    flex: 30%;
    padding: 10px;

}

.flex-container-experience-ul-2 {
    flex: 70%;
    padding: 10px;

}

.flex-container-experience-ul-2 li {

    margin-left: 20px;
}

@media only screen and (max-width: 500px) {
    .vertical1 {
        left: 35%;
        
    }

   
    .vertical2 {
        left: 65%; 
       
    }
}


/* experience end */


/* Project start */

.project-style {
    background-color: #e6e6e6;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 15%;
    padding-right: 15%;
}

.flex-container-project {
    display: flex;
    margin-top: 30px;
    position: relative;
    height: auto;
}

.flex-container-project>figure  {
    flex: 50%;
    border-radius: 10px;
}

.flex-container-project>div  {
    flex: 50%;
    border-radius: 10px;
}
.flex-container-project>figure>img  {
    width: 100%; 
    height: auto; 
    border-radius: 10px;
}

/* Freatured project start*/
.featured-project-main-div {
    padding-top: 100px;
    padding-bottom: 100px;

}

.freatured-project-style {
    margin-bottom: 80px;
}

.flex-container-featured-project article {
    margin: 5px;
    justify-content: center;
}

.flex-container-featured-project figure {
    margin: 5px;
    border-radius: 10px;
    width: 500px;
    overflow: hidden;
}

.flex-container-featured-project figure img {
    width: 100%;
}

.features-project-text {
    margin: 10px;
}

.features-project-text h3 {
    margin-bottom: 10px;
}

.features-project-text p {
    margin-bottom: 10px;

}

.features-project-text>div>div>span {

    margin-left: 5px;
    margin-right: 5px;
    font-weight: 600;

}

.features-project-text div img {
    width: 15px;
    margin-top: 10px;
    margin-left: 5px;
}

/* Freatured project end*/


/* other project start */
#other-project-main-div{
    display: none;
}
.flex-container-other-project {
    display: flex;
    margin-top: 20px;

}

.flex-container-other-project > div > div {
    display: flex;
    width: 100%; 
}

.flex-container-other-project > div > div > figure {
    margin-right: 5px;
    flex: 40%;
    margin-bottom: 20px;
}

.flex-container-other-project > div > div > div {
    flex: 60%;
}

.flex-container-other-project > div > div > figure > img {
    width: 100%;
    height: auto;
    border-radius: 10px;

}



.flex-container-other-project>div>div>div>div>h3 {
    margin-bottom: 10px;
    margin-top: 8px;

}

.flex-container-other-project>div>div>div>div>div>span{
    margin-left: 2px;
    margin-right: 2px;
    font-weight: 600;
    font-size: small;
    
}

.flex-container-other-project>div>div>div>div>div{
    margin-top: 5px;
}
.flex-container-other-project>div>div>div>div {
    margin-bottom: 15px;
}

.flex-container-other-project>div>div>div>div >img{
   
    height: 15px;
    width: 15px;

}
.flex-container-other-project>div>div>div>div >a>img{
   
    height: 15px;
    width: 15px;

}
/* other project end */
/* view more */
#project-viewmore-button{
    display: flex;
    justify-content: center;
    align-items: center;
    
    

    
}
#project-viewmore-button>span{
    align-items: center;
    justify-content: center;
    width: auto;
    height: 100%;
    display: flex;
    cursor: pointer; 
    background-color: rgb(245, 245, 245);
    border: 1.5px solid rgb(193, 186, 186);
    border-radius: 10px;
    width: auto;
    
}

#project-viewmore-button>span>img{
    width: 30px;
    align-items: center;
    justify-items: center;
    margin-left: 8px;
    margin-right: 6px; 
    margin-top: 5px;
    margin-bottom: 5px;
}
#project-viewmore-button>span>div{
   
    align-items: center;
    justify-items: center;
    margin-right: 8px;
    font-weight:500;
    
}
/* view more end */

/* project end */

.contact-style{

    margin-top: 100px;
    text-align: center;
    margin-bottom: 30px;
    padding-left: 15%;
    padding-right: 15%;
}
.contact-style>div:first-child{
    margin-bottom: 50px;
}
.contact-style>p:first-child{
    margin-bottom: 50px;
}

.contact-style>div>img,
.contact-style>div>a>img{
    width: 25px;
    margin-right: 5px;
    margin-left: 5px;

}


.write-messege-button-style {
    display: flex;
    border: 1.5px solid rgb(193, 186, 186);
    border-radius: 5px;
    height: 40px;
    justify-content: center;
    align-items: center;
    padding: 3px 5px;
    margin: 20px;
    font-size: medium;
    cursor: pointer;
    width: 130px;
    margin: 5px auto

    

}
.contact-write-messege-form{
    /* display: flex; */
    flex-direction: column;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 20px;
    display: none;
}
.contact-write-messege-form>input,select,textarea{
    height: 30px;
    margin-bottom: 10px;
    padding-left: 10px;
}

#contact-send-messege{
    height: 80px;
}